.question textarea {
  font-size: 16px;
  min-width: 50%;
  min-height: 30px;
  margin: 5px 10px;
  display: block;
}

.question input.answeropen {
  font-size: 16px;
  min-width: 50%;
  min-height: 30px;
  margin: 5px 10px;
  display: block;
  margin-top: 20px;
}
a.que {
  text-align: left;
}

div.question {
  margin: 20px 20px 40px 60px;
  min-width: 500px;
}

.question button {
  display: block;
  margin: 20px 65% 10px auto;
  border: 2px solid black;
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}
label.chk {
  margin-top: 0;
}

label.pyt {
  margin: 80px;
}
label.che {
  margin: 0 30px 0 5px;
}
label.odp {
  margin: 80px;
}
div.answerPlace {
  margin: 20px 0 0 0;
}

div.question {
  margin: 50px 50px 50px 200px;
}
textarea {
  padding: 0 50px 0 0;
  resize: none;
}

.first {
  display: flex;
  direction: row;
  align-items: center;
}
input.checkt {
  margin-top: 0;
}
div.poprawna {
  font-size: small;
  margin-top: 0;
  margin-left: 5px;
  color: green;
}
div.niepoprawna {
  font-size: small;
  margin-top: 0;
  margin-left: 5px;
  color: red;
}
