div.app {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  color: #222;
}

header {
  flex-basis: 15vh;
  position: relative;
  overflow: hidden;
}

main {
  flex-grow: 1;
  padding: 5px 0;
}
aside {
  min-height: 5vh;
  background-color: white;
}
section.page {
  min-height: 500px;
}
footer {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
