div.logowanie {
  margin-top: 50px;
  margin-left: 250px;
}
label {
  margin-right: 5px;
}
input {
  padding-top: 4px;
  margin-right: 10px;
}
button.log {
  /* display: block;
  margin: 20px 70% 10px auto; */
  border: 2px solid black;
  background-color: white;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 20px;
}
div.bladlogowania {
  margin-top: 20px;
  margin-left: 35%;
  color: red;
  font-size: 20px;
}
