aside {
  box-sizing: border-box;
}
nav.main {
  background-color: #0033cc;
}
.main ul {
  display: flex;
  list-style-type: none;
}
li {
  flex-grow: 1;
}
nav.main a {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;

  padding: 10px;
  transition: 0.2s;
}

nav.main a:hover {
  background-color: #0066cc;
}

nav.main a.active {
  background-color: #0099ff;
}
