nav.inside {
  background-color: #eee;
  min-height: 100%;
  padding: 10px 0;
}

ul {
  list-style-type: none;
}

nav.inside a {
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.2s;
}
nav.inside a:hover {
  transform: translateX(20px);
}

nav.inside a.active {
  border-left: 10px #0033cc solid;
  transform: translateX(0);
}
