ul.pytanie {
  margin-top: 50px;
  margin-left: 100px;
}

button.pytanie {
  margin-left: 200px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 8px;

  background-color: white;

  border: 2px solid blue;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button.pytanie :hover {
  background-color: blue; /* Green */
}
/* button.pytanie a {
  text-decoration: none;
} */
