#questions {
  margin-top: 50px;
  margin-left: 100px;
  border-collapse: collapse;
  width: 100%;
}

#questions td,
#questions th {
  border: 1px solid #ddd;
  padding: 8px;
}

#questions tr:nth-child(even) {
  background-color: #f2f2f2;
}

#questions tr:hover {
  background-color: #ddd;
}

#questions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0066cc;
  color: white;
}
img.crud {
  height: 20px;
  width: 20px;
}
button.crud {
  margin-right: 5px;
}
